*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #121212;
  color: #000;
  overflow-x: hidden;
}

#root {
  display: block;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}